$primerColor : #ffffff;
$segundoColor : #1d1d1b;
$tercerColor : #e71d73;
$cuartoColor : #572484;
$gradiente : linear-gradient(90deg, rgba(231,29,115,1) 0%, rgba(87,36,131,1) 60%);

@mixin mediaQ ($ancho) {
    @media screen and (max-width: $ancho) {
        @content;
    }
}