@use 'variables';

.container{
    position: relative;
    min-height: 100vh;
    background: variables.$gradiente;

    h1{
        color: variables.$primerColor;
        text-align: center;
        padding: 15px;
        font-size: 40px;
        font-weight: 100;
    }

    .video-container{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 10px;

        .video{
            height: 200px;
            width: 300px;
            border: 8px solid variables.$tercerColor;
            border-radius: 5px;
            box-shadow: 0 0 20px variables.$primerColor;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .2s linear;

                &:hover{
                    transform: scale(1.2);
                }
            }

            iframe{
                display: none;
            }
        }
    }

    .popup-video{
        position: fixed;
        top: 0; left: 0;
        z-index: 100;
        background-color: variables.$segundoColor;
        height: 100%;
        width: 100%;
        display: none;

        iframe {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50.5%, -68%);
            width: 420px;
            height: 300px;
            object-fit: scale-down;


            @include variables.mediaQ(760px){
                width: 420px * 80 / 100;
                height: 300px * 80 / 100;
            }

            @include variables.mediaQ(400px){
                width: 420px * 60 / 100;
                height: 300px * 60 / 100;
            }
        }

        span{
            position: absolute;
            top: 5px; right: 20px;
            font-size: 50px;
            color: variables.$primerColor;
            z-index: 100;
            cursor: pointer;
            @include variables.mediaQ(760px){
                font-size: 20px;
            }


        }

        img{
            position: absolute;
            width: 750px;
            pointer-events: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include variables.mediaQ(760px){
                width: 750px * 80 / 100;
            }

            @include variables.mediaQ(400px){
                width: 750px * 60 / 100;
            }
        }
    }
}

